%%% -*- mode: erlang -*-

%% Erlang compiler options
{erl_opts, [warnings_as_errors
           ]}.

%% Erlang edoc options for asciiedown_doclet
{edoc_opts, [{doclet, asciiedown_doclet}
             , {app_default, "http://www.erlang.org/doc/man"}
             , {new, true}
             , {packages, false}
             , {stylesheet, ""}   % don't copy stylesheet.css
             , {image, ""}        % don't copy erlang.png
             , {top_level_readme, {"./README.md", "https://github.com/norton/abnfc"}}
            ]}.

%% Erlang edoc options for asciiedoc_doclet
%% {edoc_opts, [{doclet, asciiedoc_doclet}
%%              , {app_default, "http://www.erlang.org/doc/man"}
%%              , {new, true}
%%              , {packages, false}
%%             ]}.
