%%% -*- mode: erlang -*-

%% Erlang compiler options
{erl_opts, [warnings_as_errors
           ]}.

%% Erlang edoc options
{edoc_opts, [{doclet, edown_doclet}
             , {src_path, ["src", "test"]}
             , {title, "ABNF Compiler"}
             , {top_level_readme, {"./README.md", "https://github.com/norton/abnfc"}}
            ]}.
