%%% -*- mode: erlang -*-

{require_min_otp_vsn, "R15"}.

{erl_opts, [warn_shadow_vars, warn_obsolete_guard]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.

%%{abnfc_opts, [{doc_root, "."}]}.

{deps, [{qc, "", {git, "git://github.com/norton/qc.git", {branch, "dev"}}}
       ]}.
